@keyframes red_color_change {
  0% {
    color: black; }

  100% {
    color: red; } }

@keyframes orange_color_change {
  from {
    color: black; }

  to {
    color: orange; } }

@keyframes green_color_change {
  0% {
    color: black; }

  100% {
    color: green; } }

@keyframes blue_color_change {
  0% {
    color: black; }

  100% {
    color: blue; } }

@keyframes indigo_color_change {
  0% {
    color: black; }

  100% {
    color: indigo; } }

@keyframes violet_color_change {
  0% {
    color: black; }

  100% {
    color: violet; } }

@keyframes spin_left {
  0% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(360deg); } }

@keyframes rotate_3d {
  0% {
    transform: rotateY(1deg); }

  100% {
    transform: rotateY(180deg); } }

body {
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica;
  font-size: 14px;
  color: #666;
  margin: 25px 0; }

#header {
  font-family: 'Lato';
  padding: 25px;
  background: #e4d4a3;
  margin-bottom: 45px;
  color: #333; }
  #header .inner {
    text-align: left;
    width: 95%;
    max-width: 850px;
    margin: auto;
    position: relative; }
  #header ul {
    float: right;
    list-style-type: none;
    position: absolute;
    top: 0;
    right: 10px; }
    #header ul li {
      float: left;
      margin-left: 18px;
      margin-top: 10px;
      font-size: 23px;
      font-weight: 300; }
      #header ul li a {
        color: #333;
        text-decoration: none; }
        #header ul li a:hover {
          text-decoration: underline; }
    @media all and (max-width: 825px) {
      #header ul {
        position: inherit;
        float: left;
        margin: 5px 0 -15px 0; }
        #header ul li a {
          font-size: 18px;
          font-weight: 400;
          color: white;
          border-radius: 5px;
          padding: 5px;
          background-color: #607890;
          border: 2px solid black; } }
  @media all and (max-width: 825px) {
    #header {
      padding-bottom: 70px; } }
  #header h1 {
    font-size: 59px;
    font-weight: bold; }
    #header h1 a {
      text-decoration: none;
      color: #333; }
    #header h1 span {
      font-weight: 400;
      margin: -3px;
      display: inline-block; }
    #header h1 a:hover .c1, #header h1 a:hover .c8 {
      animation: red_color_change 1.5s alternate, spin_left 1.5s; }
    #header h1 a:hover .c2, #header h1 a:hover .c9 {
      animation: orange_color_change 1.5s alternate, spin_left 1.5s; }
    #header h1 a:hover .c3, #header h1 a:hover .c7 {
      animation: green_color_change 1.5s alternate, spin_left 1.5s; }
    #header h1 a:hover .c4 {
      animation: blue_color_change 1.5s alternate, spin_left 1.5s; }
    #header h1 a:hover .c5 {
      animation: indigo_color_change 1.5s alternate, spin_left 1.5s; }
    #header h1 a:hover .c6 {
      animation: violet_color_change 1.5s alternate, spin_left 1.5s; }
  #header h2 {
    font-size: 23px;
    font-weight: 300; }
    #header h2 img {
      margin-left: 3px; }

#content {
  clear: both; }
  #content .inner {
    text-align: left;
    width: 95%;
    max-width: 850px;
    margin: auto; }

.post {
  margin-bottom: 55px; }
  .post h3 {
    font-size: 29px;
    font-family: 'Lato';
    font-weight: normal;
    margin-bottom: 25px; }
  .post h3 a {
    text-decoration: none; }
  .post h3 a:hover {
    text-decoration: underline; }
  .post .body {
    font-size: 17px; }
  .post .body p {
    margin-bottom: 1em; }
  .post ul {
    margin-bottom: 1em; }
  .post ul li {
    margin-bottom: 0.5em; }
  .post .meta {
    margin-top: 25px;
    border-top: 3px double #ddd;
    padding-top: 25px;
    color: #999; }

#footer {
  font-family: 'Lato';
  background: #e4d4a3;
  padding: 25px;
  color: #333; }
  #footer .inner {
    text-align: left;
    width: 95%;
    max-width: 850px;
    margin: auto; }
  #footer h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 300; }
    #footer h3 a {
      text-decoration: none;
      color: #333; }
      #footer h3 a:hover {
        text-decoration: underline; }
  #footer table {
    font-weight: 300; }
  #footer table tr td {
    padding-bottom: 3px;
    padding-right: 15px; }
  #footer table tr td a {
    text-decoration: none; }
  #footer table tr td a:hover {
    text-decoration: underline; }
  #footer table tr td.date {
    text-align: right; }
  #footer .archives {
    float: left;
    margin-right: 25px; }
  #footer .about {
    float: left; }
    #footer .about img {
      float: left;
      height: 80px;
      border-radius: 10px; }
    #footer .about img:hover {
      animation: rotate_3d 1s infinite alternate; }
    #footer .about div {
      padding-left: 94px;
      width: 140px; }

.about_head img {
  display: block;
  float: right;
  margin: 15px;
  border-radius: 10px; }

.section_header {
  margin-top: 30px; }

.info_container {
  border-top: #ddd double 3px;
  padding: 15px 0 0 0; }
  .info_container .sub_header {
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
    font-weight: normal; }

#disqus_thread {
  margin-top: 45px; }
  #disqus_thread h3 {
    font-size: 19px; }

/* Pretty print */
.prettyprint .str,
.prettyprint .atv {
  /* a markup attribute value */
  color: #008a35; }

.prettyprint .kwd,
.prettyprint .tag {
  /* a markup tag name */
  color: #0066cc; }

.prettyprint .com {
  /* a comment */
  color: #7f7f7f;
  font-style: italic; }

.prettyprint .lit {
  /* a literal value */
  color: #7f0000; }

.prettyprint .pun,
.prettyprint .opn,
.prettyprint .clo {
  color: #7f7f7f; }

.prettyprint .typ,
.prettyprint .atn,
.prettyprint .dec,
.prettyprint .var {
  /* a declaration; a variable name */
  color: #7f007f; }
