/* 
  HTML5 ✰ Boilerplate 
*/
/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* END RESET CSS */
/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body {
  font: 13px/1.231 sans-serif;
  *font-size: small; }

/* hack retained to preserve specificity */
select, input, textarea, button {
  font: 99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* 
 * minimal base styles 
 */
body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */ }

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

/* always force a scrollbar in non-IE */
html {
  overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none; }

a, a:active, a:visited {
  color: #607890; }

ul, ol {
  margin-left: 1.8em; }

ol {
  list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li {
  margin: 0; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

pre {
  padding: 15px;
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

textarea {
  overflow: auto; }

/* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend, .ie7 legend {
  margin-left: -7px; }

/* thnx ivannikolic! */
/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
  cursor: pointer; }

/* webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* colors for form validity */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

/*  j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #FF5E99; }

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible; }

/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* 
 * Non-semantic helper classes 
 */
/* for image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix:after {
  clear: both; }

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix {
  zoom: 1; }

@keyframes move_up {
  0% {
    top: 0px; }

  10% {
    top: 5px; }

  20% {
    top: 0px; }

  100% {
    top: 0px; } }

@keyframes move_down {
  0% {
    top: 0px; }

  10% {
    top: -5px; }

  20% {
    top: 0px; }

  100% {
    top: 0px; } }

@keyframes spin_left {
  0% {
    transform: rotate(0deg); }

  20% {
    transform: rotate(0deg); }

  30% {
    transform: rotate(360deg); }

  40% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(0deg); } }

@keyframes red_color_change {
  0% {
    color: black; }

  40% {
    color: black; }

  50% {
    color: red; }

  60% {
    color: black; }

  100% {
    color: black; } }

@keyframes orange_color_change {
  0% {
    color: black; }

  40% {
    color: black; }

  50% {
    color: orange; }

  60% {
    color: black; }

  100% {
    color: black; } }

@keyframes green_color_change {
  0% {
    color: black; }

  40% {
    color: black; }

  50% {
    color: green; }

  60% {
    color: black; }

  100% {
    color: black; } }

@keyframes blue_color_change {
  0% {
    color: black; }

  40% {
    color: black; }

  50% {
    color: blue; }

  60% {
    color: black; }

  100% {
    color: black; } }

@keyframes indigo_color_change {
  0% {
    color: black; }

  40% {
    color: black; }

  50% {
    color: indigo; }

  60% {
    color: black; }

  100% {
    color: black; } }

@keyframes flip_it {
  0% {
    transform: perspective(400px) translateZ(0px) rotateY(0deg); }

  60% {
    transform: perspective(400px) translateZ(0px) rotateY(0deg); }

  70% {
    transform: perspective(400px) translateZ(150px) rotateY(180deg); }

  80% {
    transform: perspective(400px) translateZ(0px) rotateY(0deg); }

  100% {
    transform: perspective(400px) translateZ(0px) rotateY(0deg); } }

@keyframes spin_it {
  0% {
    transform: rotate(0deg) scale(1); }

  80% {
    transform: rotate(0deg) scale(1); }

  90% {
    transform: rotate(360deg) scale(0); }

  100% {
    transform: rotate(0deg) scale(1); } }

/* Add a hover effect for hovering over links */
@keyframes content_link_hover {
  from {
    color: #607890; }

  to {
    color: #AA5F5D; } }

body {
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica;
  font-size: 14px;
  color: #666;
  margin: 25px 0; }

#header {
  font-family: 'Lato';
  padding: 25px;
  background: #e4d4a3;
  margin-bottom: 35px;
  color: #333; }
  @media screen and (max-width: 825px) {
    #header {
      margin-bottom: 30px; } }
  @media screen and (max-width: 825px) {
    #header {
      padding-bottom: 70px; } }
  @media screen and (max-width: 400px) {
    #header {
      padding-left: 10px;
      padding-right: 10px; } }
  #header .inner {
    text-align: left;
    width: 95%;
    max-width: 850px;
    margin: auto;
    position: relative; }
  #header ul {
    float: right;
    list-style-type: none;
    position: absolute;
    top: 0;
    right: 10px; }
    #header ul li {
      float: left;
      margin-left: 18px;
      margin-top: 10px;
      font-size: 23px;
      font-weight: 300; }
      #header ul li a {
        color: #333;
        text-decoration: none; }
        #header ul li a:hover {
          text-decoration: underline; }
    @media all and (max-width: 825px) {
      #header ul {
        position: inherit;
        float: left;
        margin: 5px 0 -20px 0;
        right: 0; }
        #header ul li {
          margin-left: 0;
          margin-right: 18px; }
          #header ul li a {
            font-size: 18px;
            font-weight: 400;
            color: white;
            border-radius: 5px;
            padding: 5px;
            background-color: #607890;
            border: 2px solid black; } }
    @media all and (max-width: 400px) {
      #header ul li {
        margin: 2px 13px 0 0; }
        #header ul li a {
          padding: 5px;
          font-size: 14px; } }
  #header h1 {
    font-size: 59px;
    font-weight: bold; }
    @media only screen and (max-width: 825px) {
      #header h1 {
        font-size: 55px; } }
    @media only screen and (max-width: 400px) {
      #header h1 {
        font-size: 45px; } }
    #header h1 a {
      text-decoration: none;
      color: #333;
      letter-spacing: 6px;
      font-weight: 400; }
  #header h2 {
    font-size: 23px;
    font-weight: 300; }
    @media only screen and (max-width: 825px) {
      #header h2 {
        font-size: 21px; } }
    @media only screen and (max-width: 400px) {
      #header h2 {
        font-size: 17px; } }
    #header h2 img {
      margin-left: 3px; }
    #header h2 span {
      display: inline-block;
      letter-spacing: -4px; }
  #header h2:hover .a1 {
    position: relative;
    animation: move_up 6s; }
  #header h2:hover .a2 {
    position: relative;
    animation: move_down 6s; }
  #header h2:hover .b {
    animation: spin_left 6s; }
  #header h2:hover .c1 {
    animation: red_color_change 6s; }
  #header h2:hover .c2 {
    animation: orange_color_change 6s; }
  #header h2:hover .c3 {
    animation: green_color_change 6s; }
  #header h2:hover .c4 {
    animation: blue_color_change 6s; }
  #header h2:hover .c5 {
    animation: indigo_color_change 6s; }
  #header h2:hover .d {
    animation: flip_it 6s; }
  #header h2:hover .e {
    animation: spin_it 6s; }

#content {
  clear: both; }
  #content .inner {
    text-align: left;
    width: 95%;
    max-width: 850px;
    margin: auto;
    overflow: hidden; }
  #content a:hover {
    animation: content_link_hover 2s; }

.readMore {
  display: block;
  font-size: 1.2em;
  margin-top: 15px; }

.post {
  margin-bottom: 55px; }
  .post h3 {
    font-family: 'Lato';
    font-weight: normal;
    margin-bottom: 25px;
    font-size: 29px; }
    @media all and (max-width: 825px) {
      .post h3 {
        font-size: 25px; } }
    @media all and (max-width: 400px) {
      .post h3 {
        font-size: 20px;
        font-weight: bold; } }
  .post h3 a {
    text-decoration: none; }
  .post h3 a:hover {
    text-decoration: underline; }
  .post .body {
    font-size: 17px; }
  .post .body p {
    margin-bottom: 1em; }
  .post ul {
    margin-bottom: 1em; }
  .post ul li {
    margin-bottom: 0.5em; }
  .post .meta {
    margin-top: 25px;
    border-top: 3px double #ddd;
    padding-top: 25px;
    color: #999; }

#footer {
  font-family: 'Lato';
  background: #e4d4a3;
  padding: 25px;
  color: #333; }
  #footer .inner {
    text-align: left;
    width: 95%;
    max-width: 850px;
    margin: auto; }
  #footer h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 300; }
    #footer h3 a {
      text-decoration: none;
      color: #333; }
      #footer h3 a:hover {
        text-decoration: underline; }
  #footer table {
    font-weight: 300; }
  #footer table tr td {
    padding-bottom: 3px;
    padding-right: 15px; }
  #footer table tr td a {
    text-decoration: none; }
  #footer table tr td a:hover {
    text-decoration: underline; }
  #footer table tr td.date {
    text-align: right; }
  #footer .archives {
    float: left;
    margin-right: 25px; }
  #footer .html5 {
    display: block;
    margin-top: 10px; }
  #footer .about {
    float: left; }
    @media only screen and (max-width: 650px) {
      #footer .about {
        margin-top: 20px; } }
    #footer .about #pictureCube {
      margin-bottom: 20px; }

.about_head img {
  display: block;
  float: right;
  margin: 15px;
  border-radius: 10px; }

.section_header {
  margin-top: 30px; }

.info_container {
  border-top: #ddd double 3px;
  padding: 15px 0 0 0; }
  .info_container .sub_header {
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
    font-weight: normal; }

#disqus_thread {
  margin-top: 45px; }
  #disqus_thread h3 {
    font-size: 19px; }

.warning {
  border: 2px solid yellow;
  padding: 20px 20px 20px 80px;
  margin-bottom: 10px;
  background-color: #FEEFB3;
  color: #9F6000;
  background: url(/images/icons/warning.png) no-repeat #feefb3;
  background-position: 20px 45%;
  background-size: 50px;
  display: none; }

.PictureCube-container {
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px; }

.PictureCube-container .cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  -ms-transition: -ms-transform 1s;
  transition: transform 1s; }

.PictureCube-container .cube figure {
  display: block;
  position: absolute;
  margin: 0;
  width: 96px;
  height: 96px;
  border: 2px solid black;
  line-height: 96px;
  font-size: 50px;
  font-weight: bold;
  color: white; }

.PictureCube-container .cube img {
  height: 96px;
  width: 96px; }

.PictureCube-container .cube.panels-backface-invisible figure {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

.PictureCube-container .cube .front {
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -o-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  transform: translateZ(50px); }

.PictureCube-container .cube .back {
  -webkit-transform: rotateX(-180deg) translateZ(50px);
  -moz-transform: rotateX(-180deg) translateZ(50px);
  -o-transform: rotateX(-180deg) translateZ(50px);
  -ms-transform: rotateX(-180deg) translateZ(50px);
  transform: rotateX(-180deg) translateZ(50px); }

.PictureCube-container .cube .right {
  -webkit-transform: rotateY(90deg) translateZ(50px);
  -moz-transform: rotateY(90deg) translateZ(50px);
  -o-transform: rotateY(90deg) translateZ(50px);
  -ms-transform: rotateY(90deg) translateZ(50px);
  transform: rotateY(90deg) translateZ(50px); }

.PictureCube-container .cube .left {
  -webkit-transform: rotateY(-90deg) translateZ(50px);
  -moz-transform: rotateY(-90deg) translateZ(50px);
  -o-transform: rotateY(-90deg) translateZ(50px);
  -ms-transform: rotateY(-90deg) translateZ(50px);
  transform: rotateY(-90deg) translateZ(50px); }

.PictureCube-container .cube .top {
  -webkit-transform: rotateX(90deg) translateZ(50px);
  -moz-transform: rotateX(90deg) translateZ(50px);
  -o-transform: rotateX(90deg) translateZ(50px);
  -ms-transform: rotateX(90deg) translateZ(50px);
  transform: rotateX(90deg) translateZ(50px); }

.PictureCube-container .cube .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(50px);
  -moz-transform: rotateX(-90deg) translateZ(50px);
  -o-transform: rotateX(-90deg) translateZ(50px);
  -ms-transform: rotateX(-90deg) translateZ(50px);
  transform: rotateX(-90deg) translateZ(50px); }

.PictureCube-container .cube.show-front {
  -webkit-transform: translateZ(-50px);
  -moz-transform: translateZ(-50px);
  -o-transform: translateZ(-50px);
  -ms-transform: translateZ(-50px);
  transform: translateZ(-50px); }

.PictureCube-container .cube.show-back {
  -webkit-transform: translateZ(-50px) rotateX(-180deg);
  -moz-transform: translateZ(-50px) rotateX(-180deg);
  -o-transform: translateZ(-50px) rotateX(-180deg);
  -ms-transform: translateZ(-50px) rotateX(-180deg);
  transform: translateZ(-50px) rotateX(-180deg); }

.PictureCube-container .cube.show-right {
  -webkit-transform: translateZ(-50px) rotateY(-90deg);
  -moz-transform: translateZ(-50px) rotateY(-90deg);
  -o-transform: translateZ(-50px) rotateY(-90deg);
  -ms-transform: translateZ(-50px) rotateY(-90deg);
  transform: translateZ(-50px) rotateY(-90deg); }

.PictureCube-container .cube.show-left {
  -webkit-transform: translateZ(-50px) rotateY(90deg);
  -moz-transform: translateZ(-50px) rotateY(90deg);
  -o-transform: translateZ(-50px) rotateY(90deg);
  -ms-transform: translateZ(-50px) rotateY(90deg);
  transform: translateZ(-50px) rotateY(90deg); }

.PictureCube-container .cube.show-top {
  -webkit-transform: translateZ(-50px) rotateX(-90deg);
  -moz-transform: translateZ(-50px) rotateX(-90deg);
  -o-transform: translateZ(-50px) rotateX(-90deg);
  -ms-transform: translateZ(-50px) rotateX(-90deg);
  transform: translateZ(-50px) rotateX(-90deg); }

.PictureCube-container .cube.show-bottom {
  -webkit-transform: translateZ(-50px) rotateX(90deg);
  -moz-transform: translateZ(-50px) rotateX(90deg);
  -o-transform: translateZ(-50px) rotateX(90deg);
  -ms-transform: translateZ(-50px) rotateX(90deg);
  transform: translateZ(-50px) rotateX(90deg); }

/* http://code.google.com/p/google-code-prettify/source/browse/trunk/styles/sons-of-obsidian.css */
.prettyprint {
  font-family: 'Droid Sans Mono', 'Courier New', monospace;
  white-space: pre;
  margin-bottom: 1em;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.1);
  letter-spacing: -1px;
  line-height: 22px;
  border: 0px solid #888;
  /* string content */
  /* a keyword */
  /* a comment */
  /* a type name */
  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  /* a markup tag name */
  /* a markup attribute name */
  /* a markup attribute value */
  /* a declaration; a variable name */
  /* a function name */
  /* For smartphones in portait drop the sizes down low */
  /* Create a horizontal scroll bar under 600px */ }
  .prettyprint .pln {
    color: #000; }
  .prettyprint .str {
    color: #080; }
  .prettyprint .kwd {
    color: #008; }
  .prettyprint .com {
    color: #800; }
  .prettyprint .typ {
    color: #606; }
  .prettyprint .lit {
    color: #066; }
  .prettyprint .pun, .prettyprint .opn, .prettyprint .clo {
    color: #660; }
  .prettyprint .tag {
    color: #008; }
  .prettyprint .atn {
    color: #606; }
  .prettyprint .atv {
    color: #080; }
  .prettyprint .dec, .prettyprint .var {
    color: #606; }
  .prettyprint .fun {
    color: red; }
  .prettyprint ol.linenums {
    margin-top: 0;
    margin-bottom: 0; }
  .prettyprint li {
    border-left: 2px solid #6CE26C; }
  .prettyprint li.L0, .prettyprint li.L1, .prettyprint li.L2, .prettyprint li.L3, .prettyprint li.L4, .prettyprint li.L5, .prettyprint li.L6, .prettyprint li.L7, .prettyprint li.L8, .prettyprint li.L9 {
    color: #555;
    padding-left: 7px; }
  .prettyprint li.L1, .prettyprint li.L3, .prettyprint li.L5, .prettyprint li.L7, .prettyprint li.L9 {
    background: #f8f8f8; }
  @media only screen and (max-width: 825px) {
    .prettyprint {
      font-size: 14px;
      padding: 10px 2px 10px 10px; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .prettyprint {
      font-size: 11px;
      line-height: 14px;
      letter-spacing: 0px;
      background-color: blue !important; } }
  @media only screen and (max-width: 600px) {
    .prettyprint {
      overflow-x: auto; }
      .prettyprint ol {
        min-width: 600px; } }

/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a:after {
    content: " (" attr(href) ")"; }

  abbr:after {
    content: " (" attr(title) ")"; }

  .ir a:after {
    content: ""; }

  /* Don't show links for images */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
