<!doctype html>  
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]--> 
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]--> 
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]--> 
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]--> 
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]--> 
	<head> 
		<meta charset="utf-8"> 
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width">
 
		<title>TJ VanToll - {{ page.title }}</title> 
		<meta name="author" content="TJ VanToll" />
		
		<link href='http://fonts.googleapis.com/css?family=Lato:light,regular,bold' rel='stylesheet' />
		<link href="/css/style.css" rel="stylesheet" />

		<!--
		<script src="/scripts/prefixfree.min.js"></script>
		<script src="/scripts/modernizr.2.5.2.custom.js"></script>
		<script src="/scripts/jquery-1.7.1.min.js"></script>
		<script src="/scripts/prettify.js" defer></script>
		<script src="/scripts/lang-css.js" defer></script>
		<script src="/scripts/PictureCube.js" defer></script>
		-->
		<script src="/scripts/build/main.js"></script>
		<script>
			$(function() {
				prettyPrint();
				
				if (Modernizr.csstransforms3d) {
					new PictureCube('pictureCube', [
						'/images/me/1.jpg',
						'/images/me/2.jpg',
						'/images/kids/2.jpg',
						'/images/kids/3.jpg',
						'/images/me/3.jpg',
						'/images/izzie/5.jpg'																
					]).cycle(5000);
				}			
			});
		</script>
		
		<!--<link rel="alternate" type="application/rss+xml" href="/atom.xml" title="RSS feed" />-->
		
		<!-- Google Analytics -->
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-29179796-1']);
			_gaq.push(['_trackPageview']);
			
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head> 
 
    <body>
        <div id="header">
            <div class="inner">
                <h1>
                	<a href="/">TJ VanToll</a>
                </h1>
                <h2>
                	<span class="a1">A</span>
                	<span class="a2">d</span>
                	<span class="a1">v</span>
                	<span class="a2">e</span>
                	<span class="a1">n</span>
                	<span class="a2">t</span>
                	<span class="a1">u</span>
                	<span class="a2">r</span>
                	<span class="a1">e</span>
                	<span class="a2">s</span>
                	&nbsp;
                	<span class="b">i</span>
                	<span class="b">n</span>
                	&nbsp; 
                	<span class="c1">F</span>
                	<span class="c2">r</span>
                	<span class="c3">o</span>
                	<span class="c4">n</span>
                	<span class="c5">t</span>
                	&nbsp;
                	<span class="d">E</span>
                	<span class="d">n</span>
                	<span class="d">d</span>
                	&nbsp;
                	<span class="e">T</span>
                	<span class="e">e</span>
                	<span class="e">c</span>
                	<span class="e">h</span>
                	<span class="e">n</span>
                	<span class="e">o</span>
                	<span class="e">l</span>
                	<span class="e">o</span>
                	<span class="e">g</span>
                	<span class="e">i</span>
                	<span class="e">e</span>
                	<span class="e">s</span>
                </h2>
                <ul>
                    <li>
                    	<a href="/about/">About</a>
                    </li>
                    <li>
                    	<a href="/archives/">Archives</a>
                    </li>
                    <li>
                    	<a href="http://twitter.com/tjvantoll">Follow</a>
                    </li>
                    <li>
                    	<a href="http://github.com/tjvantoll">Github</a>
                    </li>
                </ul>
            </div>
        </div>
                
        <div id="content">
            <div class="inner">
                {{ content }}
            </div>
        </div>
        
        <div id="footer" class="clearfix">
            <div class="inner">
                <div class="archives">
                    <h3><a href="/archives/">Archives</a></h3>
            
                    <table>
                    {% for post in site.posts %}
                        <tr>
                            <td class="date">{{ post.date | date_to_string }}</td>
                            <td><a href="{{ post.url }}">{{ post.title }}</a></td>
                        </tr>
                    {% endfor %}
                    </table>
                    
	                <a href="http://www.w3.org/html/logo/" class="html5">
						<img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-graphics-performance-semantics.png" width="229" height="64" alt="HTML5 Powered with CSS3 / Styling, Graphics, 3D &amp; Effects, Performance &amp; Integration, and Semantics" title="HTML5 Powered with CSS3 / Styling, Graphics, 3D &amp; Effects, Performance &amp; Integration, and Semantics" />
					</a>                    
                </div>               
                
                <div class="about">
                    <h3><a href="/about/">About Me</a></h3>
                    
                    <a href="/about/">
                    	<div id="pictureCube"></div>
                    </a>
                    <div>
                        Web developer, traveler, ex world champion <a href="/about/">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        
    </body> 
</html>
